@import "variables";

.feedback {
  margin: auto;
  padding: 1rem;
  h2 {
    text-align: center;
  }
  textarea {
    padding: 1.5rem 0;
    margin-left: 2.5rem;
    width: 100%;
    border: none;
    border-bottom: 1px solid #ced4da;
  }
}

.form-group {
  margin-top: 1.5rem;
  margin-bottom: 3rem;
}

.prefix {
  position: absolute;
  font-size: 1.75rem;
  color: #9e9e9e;
}

.prefix~input {
  margin-left: 2.5rem;
  width: 100%;
}

.form-control {
  display: block;
  border: none;
  border-bottom: 1px solid #ced4da;
  padding: .3rem 0 .5rem;
}

button.btn {
  background-color: $background-color;
  color: $color;
  cursor: pointer;
  &:hover {
    background-color: rgba(0, 0, 0, 1);
  }
}

.error-box{
  color: red;
  font-size: 12px;
}

button[type="submit"]:disabled {
  color: #9e9e9e;
  cursor: default;
  background-color: #eee;
}