@import "variables";

footer{
  box-sizing: border-box;
}

h5{
  font-weight: 700;
  font-size: 1.25rem;
  margin-bottom: 5px;
  text-transform: uppercase;
}
.row-footer{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  @media (max-width: 575px) {
    flex-direction: column;
    align-items: center;
  }
}

.box{
  text-align: center;
  line-height: 1.5;
  p {
    font-size: .9rem;
    margin-bottom: 1rem;
  }
  @media (max-width: 575px) {
    padding: 10px;
  }
}

.footer{
  display: flex;
  justify-content: center;
  background: $background-color;
  color: gray;
  padding: 1rem 0;
  a{
    color: $color;
    text-decoration: none;
}
}
.info{
  width: 100%;
  color: $color;
  background: $background-color;
  padding-top: 1rem;
}

#map{
  display: flex;
  flex-direction: row;
}