@import "variables";

nav {
  background-color: $background-color;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;


  .navbar {
    padding: 10px;
    margin: 0 5px;

    li {
      display: inline-block;
      font-size: 18px;
      padding: 10px;
      margin: 0 5px;

      &:hover {
        background-color: rgba(255, 255, 255, .1);
      }

      a {
        color: white;
        text-decoration: none;
      }
    }
  }
}

.active-tab {
  background-color: rgba(255, 255, 255, .1);
}

.top-line {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-around;
  align-items: center;
  width: 100%;
}

.top-line a {
  text-decoration: none;
  color: black;
}

.banner img {
  max-width: 100%;
  padding-top: 15px;
}

.top-text {
  text-align: center;
}

@media screen and (max-width: 767px) {
  .top-line {
    display: flex;
    flex-direction: column;
  }

  nav {
    display: flex;
    flex-direction: column;
    align-content: center;
  }

  nav .navbar li {
    display: block;
    text-align: center;

  }
  .top-text {
    display: none;
  }
}