@import "variables";

nav {
  background-color: $background-color;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;

  button {
    display: none;
    position: fixed;
    z-index: 10;
    top: 10px;
    right: 10px;
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    background-color: transparent;
  }

  .navbar {
    padding: 10px;
    margin: 0 5px;

    li {
      display: inline-block;
      font-size: 18px;
      padding: 10px;
      margin: 0 5px;

      &:hover {
        background-color: rgba(255, 255, 255, .1);
      }

      a {
        color: white;
        text-decoration: none;
      }
    }
  }
}

.active-tab {
  background-color: rgba(255, 255, 255, .1);
}

.top-line {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-around;
  align-items: center;
  width: 100%;
}

.top-line a {
  text-decoration: none;
  color: black;
}

button.btm-close {
  img {
    width: 32px;
    height: 32px;
    display: none;
  }
}

.banner img {
  max-width: 100%;
  padding-top: 15px;
}

.top-text {
  margin-right: 5%;
  text-align: center;
}

@media screen and (max-width: 767px) {

  body .top-line {
    display: block;
    text-align: center;
  }

  nav .navbar {
    display: none;
    position: fixed;
    top: 0;
  }
  nav .navbar {
    width: 100%;
    text-align: center;
    background-color: $background-color;
  }
  nav button {
    display: block;
  }
  .navbar li {
    display: block;
  }
}